<%= render :partial => "/partials/header_tab", 
  :locals => {:tab_name => "request_school"} %>
<% 
  teacher = @service.teacher
%>

<div class="body-left w-480">
  <div class="box">
    <div class="order-rate">
      <%= "#{@service.successful_orders_count}/#{@service.orders_count}" %>
    </div>
    <div class="expense">
      <%= @service.expense %>
      <%= t("number.currency.format.unit") %>
    </div>
    <div class="buttons">
      <%= link_to t("buttons.buy"), "", :class => "btn btn-buy" %>
    </div>
    <div class="clearfix"></div>
    <div class="about">
      <h3><%= User.human_attribute_name(:about) %></h3>
      <%= teacher.about %>
    </div>
    <div class="comment">
      <h3><%= Comment.human_attribute_name(:news) %></h3>
      <div id="user_comments"></div>
      <div id="pagination"></div>
    </div>
  </div>
</div>
<div class="body-right w-480">
  <div class="box-item box-item-teacher">
    <div class="box-l">
      <div class="pt">
        <img src="<%= teacher.avatar.url %>"/>
      </div>
    </div>
    <div class="box-r">
      <div class="member">
        <%= link_to "#{teacher.name}", "javascript:void(0);" %>
        <div class="contact">
          <div class="im">
            <div class="key"><%= User.human_attribute_name(:im) %></div>
            <%= teacher.im %>
          </div>
          <div class="tel">
            <div class="key"><%= User.human_attribute_name(:telephone) %></div>
            <%= teacher.telephone %>
          </div>
        </div>
        <span><%= teacher.address_show %></span>
      </div>
    </div>
    <dl>
      <dt><%= Comment.human_attribute_name(:attitude) %></dt>
      <dd><div class="vote">7.5</div></dd>
    </dl>
    <dl>
      <dt><%= Comment.human_attribute_name(:efficiency) %></dt>
      <dd><div class="vote">8.5</div></dd>
    </dl>
    <dl>
      <dt><%= Service.human_attribute_name(:request_business) %></dt>
      <dd>
        <%= request_business(teacher) %>
      </dd>
    </dl>
    <dl>
      <dt><%= Service.human_attribute_name(:countries) %></dt>
      <dd>
        <%= countries(@service) %>
      </dd>
    </dl>
    <div class="text-area">
      <%= form_for :message, :url => user_messages_path(teacher.id) do |f| %>
        <%= f.text_area :body, :id => "send_message", :value => t("help.leave_a_message") %>
        <div class="send-success" style="display: none;" id="send_message_success"><%= t("errors.send_message_success") %></div>
        <div class="clearfix"></div>
        <%= link_to t("buttons.send"), 'javascript:void(0);', :class => "btn btn-submit" %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    var user_id = "<%= @service.id %>";
    $_comment.items('/services/'+user_id+'/comments.json', {page: 1});
    //textare focus
    $('#send_message').focus(function(){ 
      this.value = ''; 
      this.className = 'edit';
    });

    //send a message
    btn_submit(function(json){
      if(json == -1){
        window.location = "/login";
      }else if(json == 1){
        $('#send_message_success').html('<%= t("errors.send_message_success") %>').show();
        setTimeout(function(){
          $('#send_message_success').hide();
          $('#send_message').removeClass('edit').val('<%= t("help.leave_a_message") %>');
        }, 1000);
      }else{
        $('#send_message_success').html(json.join('')).show();
        setTimeout(function(){
          $('#send_message_success').hide();
        }, 1000);
      }  
      //setInterval
    });
  });

</script>
