<div class="sign-in">
  <div class="signin-box">
    <h2><%= t("buttons.sign_in") %></h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="t-tr">
        <%= f.label :email %><br />
        <%= f.email_field :email, :class => "w100"  %>
      </div>
      <div class="t-tr">
        <%= f.label :password %><br />
        <%= f.password_field :password, :class => "w100"  %>
      </div>
      <div class="t-tr">
        <%= f.submit t("buttons.sign_in"), :class => "btn btn-submit" %>
        <% if devise_mapping.rememberable? -%>
          <label class="remember">
            <%= f.check_box :remember_me %> 
            <%= f.label :remember_me %>
          </label>
        <% end -%>
      </div>
    <% end %>
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
