<% content_for :body_left do %>
  <%= render :partial => "partials/tab_1", 
    :locals => { 
    :tabs => [:active => true, :a => menus_account[2]]} %>

<%= form_tag(update_password_users_path, :method => :put) do %>

  <%= devise_error_messages! %>

  <div class="tr">
    <span class="field"><%= User.human_attribute_name(:old_password) %></span>
    <%= password_field_tag :old_password %>
  </div>

  <div class="tr">
    <span class="field"><%= User.human_attribute_name(:new_password) %></span>
    <%= password_field_tag :new_password %>
  </div>

  <div class="tr">
    <span class="field">
      <%= User.human_attribute_name(:password_confirmation) %>
    </span>
    <%= password_field_tag :password_confirmation %>
  </div>

  <div class="tr-btn">
    <%= submit_tag t("buttons.save"), :class => "btn btn-submit" %>
  </div>
<% end %>
<% end %>
<% content_for :body_right do %>
  <%= render :partial => "partials/home_menu", 
    :locals => {:current_href => menus_account[2][:href]} %>
<% end %>


