<div class="menus-wrap">
  <ul class="menus">
    <li class="title">帐户中心</li>
    <li><%= link_to "基本信息", "" %></li>
    <li><%= link_to "帐户余额", "" %></li>
    <li><%= link_to "修改密码", "" %></li>
    <li><%= link_to "头像设置", "" %></li>
  </ul>
  <ul class="menus">
    <li class="title">帐户中心</li>
    <li><%= link_to "基本信息", "" %></li>
    <li><%= link_to "帐户余额", "" %></li>
    <li><%= link_to "修改密码", "" %></li>
    <li><%= link_to "头像设置", "" %></li>
  </ul>
</div>
