<% content_for :body_left do %>
  <div class='curr-picture'> 
    <h4><%= t("picture.curr") %></h4> 
    <% if current_user.avatar %>
      <div class='img-wrapper'> 
        <img src='<%= current_user.avatar.url(:thumb) %>'/> 
      </div> 
    <% end %>
  </div>
  <div class="edit-picture">
    <h4><%= t("picture.edit") %></h4> 
    <%= form_for current_user, :url => update_avatar_users_path,
      :html => { :multipart => true, :method => :put } do |f| %>
      <%= render :partial => "partials/error",
        :locals => { :error => current_user }%>
      <div class="tr">
        <%= t("picture.tips") %><br/>
        <%= f.file_field :avatar %>
      </div>
      <div class="tr">
        <%= submit_tag t("buttons.upload"), :class => "btn btn-submit" %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :body_right do %>
  <%= render :partial => "partials/home_menu", 
    :locals => {:current_href => edit_avatar_users_path} %>
<% end %>
