<%= render :partial => "/partials/header_tab", 
  :locals => {:tab_name => ""} %>
<% 
  country_ids = @teacher.country_ids
%>

<div class="body-left w-480">
  <div class="box">
    <div class="order-rate">
      <%= "#{@teacher.successful_orders_count}/#{@teacher.orders_count}" %>
    </div>
    <div class="expense">
      <%= @teacher.send "request_school_expense" %>
      <%= t("number.currency.format.unit") %>
    </div>
    <div class="buttons">
      <%= link_to t("buttons.buy"), "", :class => "btn btn-buy" %>
    </div>
    <div class="clearfix"></div>
    <div class="about">
      <h3><%= User.human_attribute_name(:about) %></h3>
      <%= @teacher.about %>
    </div>
    <div class="comment">
      <h3><%= Comment.human_attribute_name(:news) %></h3>
      <div id="user_comments"></div>
      <div id="pagination"></div>
    </div>
  </div>
</div>
<div class="body-right w-480">
  <div class="box-item box-item-teacher">
    <div class="box-l">
      <div class="pt">
        <img src="<%= @teacher.avatar.url %>"/>
      </div>
    </div>
    <div class="box-r">
      <div class="member">
        <%= link_to "#{@teacher.name}", "/#{@teacher.id}/home", :target => "_self" %>
        <div class="contact">
          <div class="im">
            <div class="key"><%= User.human_attribute_name(:im) %></div>
            <%= @teacher.im %>
          </div>
          <div class="tel">
            <div class="key"><%= User.human_attribute_name(:telephone) %></div>
            <%= @teacher.telephone %>
          </div>
        </div>
        <span><%= @teacher.address_show %></span>
      </div>
    </div>
    <dl>
      <dt><%= Comment.human_attribute_name(:attitude) %></dt>
      <dd><div class="vote">7.5</div></dd>
    </dl>
    <dl>
      <dt><%= Comment.human_attribute_name(:efficiency) %></dt>
      <dd><div class="vote">8.5</div></dd>
    </dl>
    <dl>
      <dt><%= User.human_attribute_name(:request_business) %></dt>
      <dd>
        <%= request_business(@teacher) %>
      </dd>
    </dl>
    <dl>
      <dt><%= User.human_attribute_name(:countries) %></dt>
      <dd>
        <% Country.cache_list.each do |country| %>
          <% if country_ids.include? country.id %>
            <%= link_to country.name, "" %>
          <% end %>
        <% end %>
      </dd>
    </dl>
    <div class="text-area">
      <%= form_for :message, :url => user_messages_path(@teacher.id) do |f| %>
        <%= f.text_area :body, :id => "send_message", :value => t("help.leave_a_message") %>
        <div class="clearfix"></div>
        <%= link_to t("buttons.send"), 'javascript:void(0);', :class => "btn btn-submit" %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    var user_id = "<%= @teacher.id %>";
    $.get('/users/'+user_id+'/comments.json', {page: 1}, function(json){
      //json = json.to_obj();
      if(json[1].length > 0){
        $('#user_comments').html(comments(json[1]));
        $('#pagination').page({rows: json[0], click_after: function(page, callback){
          //alert(page.index);
          handle_comments(page.index, callback);
        }});    
      }
    });

    //textare focus
    $('#send_message').focus(function(){ 
      this.value = ''; 
      this.className = 'edit';
    });

    function handle_comments(page, callback){
      $.get('/users/'+user_id+'/comments.json', {page: page}, function(json){
        //json = json.to_obj();
        if(json[1].length > 0){
          $('#user_comments').html(comments(json[1]));
        }
        callback();
      });
    }

    function comments(json){
      return json.map(function(ele){
        return ['<div class="box-item box-item-comment">',
        '<div class="box-l">',
          '<div class="pt">',
            '<img src="', ele.from_user.url_middle, '"/>',
          '</div>',
        '</div>',
        '<div class="bubble">',
          '<div class="box-r">',
            '<a href="">', ele.from_user.name, '</a>',
            '<div class="text">',ele.body, '</div>',
            '<div class="time">',ele.time_ago, '</div>',
          '</div>',
        '</div>',
        '<div class="arrow arrow-left"></div>',
        '<div class="clearfix"></div>',
        '</div>'].join('');
      }).join('');
    };
  });

</script>
