<% content_for :body_left do %>
  <%= render :partial => "partials/tab_1", 
    :locals => {:tabs => user_information_tabs(current_user)} %>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="tr">
      <%= f.label :name, :class => "field" %>
      <%= f.text_field :name %>
    </div>
    <div class="tr">
      <%= f.label :email, :class => "field" %>
      <%= f.email_field :email %>
    </div>
    <div class="tr">
      <%= f.label :telephone, :class => "field" %>
      <%= f.text_field :telephone %>
    </div>
    <div class="tr">
      <%= f.label :im, :class => "field" %>
      <%= f.text_field :im %>
    </div>
    <div class="tr">
      <%= f.label :address, :class => "field" %>
      <%= f.select :province_id, Province.cache_list.collect {|p| [p.name, p.id]} %>
      <%= f.text_field :address %>
    </div>

    <div class="tr-btn">
      <%= submit_tag t("buttons.save"), :class => "btn btn-submit" %>
    </div>
  <% end %>
<% end %>

<% content_for :body_right do %>
  <%= render :partial => "partials/home_menu", 
    :locals => {:current_href => menus_account[0][:href]} %>
<% end %>

