<%= form_for @order, :url => service_orders_path(@order.service.id) do |f| %>
  <%= out_error_message @order %>
  <div class="tr">
    <%= f.label :price, :class => "field" %>
    <div class="field_show">
      <%= @order.price %>
      <%= t("number.currency.format.unit") %>
    </div>
  </div>
  <div class="tr">
    <%= f.label :num, :class => "field" %>
    <%= f.select :num, 1..9 %>
  </div>
  <div class="tr-btn">
    <%= f.submit t("buttons.order"), :class => "btn btn-submit" %>
  </div>
<% end %>
