<div class="box-item">
  <div class="box-l">
    <div class="pt">
      <img src="<%= school.photo_show %>"/>
    </div>
    <ul>
      <li>
        <font class="f777">
          <%= School.human_attribute_name(:expense) %>=
        </font>
        <%= school.expense_show %>
      </li>
    </ul>
  </div>
  <div class="box-r">
    <div class="rank" school_id="<%= school.id %>">#<%= school.rank %></div>
    <div class="title">
      <%= link_to school.name, school.url_show, :target => "_blank" %>
      <span><%= school.address %></span>
    </div>
    <div class="text">
      <%= school.description %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
