<%= render :partial => "/partials/header_tab", 
  :locals => {:tab_name => "select_school"} %>

<div class="filter">
  <%= form_for(@school, :html => {:method => :get},
               :url => country_schools_path(@school.country_id)) do |f| %>
    <%= f.hidden_field :country_id %>
    <%= f.label :gre %>
    <%= f.text_field :gre, :class => "w-100" %>&nbsp;
    <%= f.label :gpa %>
    <%= f.text_field :gpa, :class => "w-100" %>&nbsp;

    <%= f.label :gmat %>
    <%= f.text_field :gmat, :class => "w-100" %>&nbsp;
    <%= f.label :toefl %>
    <%= f.text_field :toefl, :class => "w-100" %>&nbsp;
    <%= f.label :ielts %>
    <%= f.text_field :ielts, :class => "w-100" %>&nbsp;


    <%= f.submit t("buttons.search"), :class => "btn btn-submit" %>&nbsp;&nbsp;
    <button type="button" class="btn btn-submit"><%= t("buttons.next") %></button>
  <% end %>
</div>

<div class="body-left">
<%= render @schools %>
</div>

<script type="text/javascript">
  //handle select box
  $(function(){
    $('.box-item .box-r .rank').click(function(){
      if($(this).hasClass('active')){
        $(this).removeClass('active');
      }else{
        $(this).addClass('active');
      }
    });
  });
</script>

<div class="body-right">
  <div class="box-tip">
    <p>
      <%= link_to School.human_attribute_name(:gre), "http://baike.baidu.com/view/1004.htm", :target => "_blank" %>
      <%= t("help.gre") %><br/>
      <%= link_to School.human_attribute_name(:gpa), "http://baike.baidu.com/view/36656.htm", :target => "_blank" %>
      <%= t("help.gpa") %><br/>
      <%= link_to School.human_attribute_name(:gmat), "http://baike.baidu.com/view/8947.htm", :target => "_blank" %>
      <%= t("help.gmat") %><br/>
      <%= link_to School.human_attribute_name(:toefl), "http://baike.baidu.com/view/7477.htm", :target => "_blank" %>
      <%= t("help.toefl") %><br/>
      <%= link_to School.human_attribute_name(:ielts), "http://baike.baidu.com/view/31701.htm", :target => "_blank" %>
      <%= t("help.ielts") %><br/>
    </p>
  </div>
</div>
<div class="clearfix"/>

<%= page @schools %>
