<html>
  <head>
    <style>
      html{word-wrap:break-word;}
      body{font-size:14px;font-family:arial,verdana,sans-serif;line-height:25px;padding:8px 10px;margin:0;}
      pre {
        white-space: pre-wrap; 
        white-space: -moz-pre-wrap; 
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }
    </style>
    <title><%= t("name") %></title>
    <style>
      body{font-size:14px;font-family:arial,verdana,sans-serif;line-height:25px;padding:8px 10px;margin:0;} 
      a{color:#005590} 
      pre { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap:
        break-word; font-size:14px;font-family:arial,verdana,sans-serif;line-height:25px;padding:8px 10px;margin:0; } 
      .rm_line{border-top:2px solid #F1F1F1; font-size:0; margin:15px 0} 
      .atchImg img{border:2px solid #c3d9ff;} 
      .lnkTxt{ color:#0066CC} 
      .rm_PicArea
      *{ font-family:Arial, sans-serif; font-size:14px;font-weight:700;} 
      .fbk3{color:#333; line-height:160%} .fTip{ font-size:11px; font-weight:normal}
    </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="89%">
      <tbody>
        <tr>
          <td style="width: 100%; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;">
            <table>
              <tbody>
                <tr>
                  <td style="background: #3b5998; color: #FFFFFF; font-weight: bold; vertical-align: middle;padding: 4px 8px; font-size: 14px; letter-spacing: -0.03em; text-align: left;">
                    <%= t("name") %>
                  </td>
                  <td style="background: #3b5998; color: #FFFFFF; font-weight: bold; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; vertical-align: middle;padding: 4px 8px;font-size: 11px; text-align: right;">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2" style="background-color: #FFFFFF; border-bottom: 1px solid #3b5998; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; padding: 15px;" valign="top">
                    <table width="100%">
                      <tbody>
                        <tr>
                          <td align="left" style="font-size: 12px;" valign="top" width="470px">
                            <div style="margin-bottom: 15px; font-size: 12px;">
                              嗨，<%= @resource.name %> 你好，
                            </div>
                            <div style="margin-bottom: 15px;">
                              <%= link_to t("tabs.modify_password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
                            </div>
                            <div style="margin-bottom: 15px;">
                              <div style="border-bottom: 1px solid #ccc; line-height:5px;">&nbsp;</div>
                              <br>
                            </div>
                            <div style="margin-bottom: 15px; margin: 0;">
                              <%= t("thanks") %>
                              <br>
                              <%= t("copyright", :year => Time.new.year) %>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

</body></html>
